@media all {
.wrapping-col > .main-button,
.wrapping-col > .afScrollPanel > .main-button {  margin-left:6px;
  margin-right:6px;
}

.wrapping-col > .main-button,
.wrapping-col > .afScrollPanel > .main-button {  margin-left:6px;
  margin-right:6px;
}

.main-button {  margin-top:100%;
  margin-bottom:10px;
}

}

