/*
 * Copyright © 2012-2015, Intel Corporation. All rights reserved.
 * Please see the included README.md file for license terms and conditions.
 */

/* Disable certain interactions on touch devices */
/* SOURCE: https://github.com/ftlabs/fastclick/blob/master/examples/input.html */
/* LICENSE: https://github.com/ftlabs/fastclick/blob/master/LICENSE */
body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

body {
    /* margin: 0.5rem ; */
    background-color: black ;
    color: white ;
}

.upage {
    background-color: #646464 ;
    color: white ;
}

#titleheader {
    background-color: black ;
    color: green ;
    height: 10% ;
    font-size: 20pt ;
}

#invselect-container {
    margin-left: 25% ;
    width: 50% ;
}

.image-container {
    max-width: 100% ;
    max-height: 80% ;
}

#homelogo {
    max-width: 100% ;
    max-height: 100% ;
    border-style: groove ;
    border-width: small ;
    border-color: black ;
    -webkit-filter: contrast(200%) brightness(200%) ;
    display: block ;
    margin-left: auto ;
    margin-right: auto ;
}

.menu-footer {
    position: absolute ;
    bottom: 0 ;
    width: 100% ;
}

.menu {
    background-color: #002500 ;
    color: white ;
    width: 100% ;
    height: 100% ;
    text-align: center ;
}

#selectinvestigator {
    background-color: #004700 ;
    color: white ;
    width: 75% ;
    height: 100% ;
}

.uib_menu {
    width = 33% ;
    height = 100% ;
}

.disabled {
    -webkit-filter: brightness(25%) ;
}

#navhome {
    -ms-transform: scale(2) ;
    -webkit-transform: scale(2) ;
    transform: scale(2) ;
    margin-right: 15px ;
}

#focus {
    color: white ;
    text-shadow: 1px 1px #003300 ;
    font-size: 3vh ;
    position: relative ;
    top: 0 ;
    margin-left: 15% ;
    width: 20% ;
    -webkit-transform:rotate(-20deg) ;
}

#skillset-container {
    display: flex ;
}

#skills-container {

}

.hskills-container {
    text-align: center ;
}

.hskills {
    color: #00bb00 ;
    text-shadow: 5px 1px #006600 ;
    font-size: 3.5vh ;
}

.container-group.skillgroup-container {
    flex-grow: 1 ;
}

.skillgroup-width {
    padding-left: 10% ;
    padding-right: 10% ;
    text-align: center ;
}

#fightwill-container {
    margin-top: 10% ;
}

#loreluck-container {
    margin-top: 10% ;
}

.skillgroup-label {
    text-align: center ;
}

.skillgroup-select {
    text-shadow: 1px 0.5px #181 ;
}

#label-fightwill {
    color: red ;
    text-shadow: 1px 0.5px #300 ;
    font-size: 3vh ;
}

#label-speedsneak {
    color: #00f ;
    text-shadow: 1px 0.5px #003 ;
    font-size: 3vh ;
}

#label-loreluck {
    color: #90f ;
    text-shadow: 1px 0.5px #000 ;
    font-size: 3vh ;
}

#skillcheckgroup-container {
    display: flex ;
}

.uib_skillcheck_container {
    flex-grow: 1 ;
    padding-left: 5% ;
    padding-right: 5% ;
}

#skillcheck-bottom {
    padding-top: 5% ;
}

.uib_skillcheck {
    box-shadow: 5px 5px #000 ;
}

#speedcheck {
    background-color: blue ;
    color: white ;
}

#fightcheck {
    background-color: red ;
    color: white ;
}

#lorecheck {
    background-color: purple ;
    color: white ;
}

#sneakcheck {
    background-color: blue ;
    color: white ;
}

#willcheck {
    background-color: red ;
    color: white ;
}

#luckcheck {
    background-color: purple ;
    color: white ;
}

#horrorcheck {
    background-color: red ;
    color: white ;
}

#combatcheck {
    background-color: red ;
    color: white ;
}

#evadecheck {
    background-color: blue ;
    color: white ;
}

#possessions-top {
    max-height: 50% ;
}

#hpossessions-container {
    text-align: center ;
}

#hpossessions {
    color: #00bb00 ;
    text-shadow: 3px 1px #006600 ;
    font-size: 3.5vh ;
}

#add-item-container {
    display: flex ;
}

#add-item-possessions {
    flex-grow: 1 ;
    padding-left: 15% ;
    padding-right: 5% ;
}

#add-item-button-container {
    flex-grow: 1 ;
    padding-right: 15% ;
    padding-left: 5%    
}

#uib_add-item {
    background-color: green ;
    color: white ;
    text-shadow: 1px 2px #000 ;
    box-shadow: 3px 5px #000 ;
}

#equip-container {
    position: relative ;
    bottom: 0 ;
}

#equip-label-container {
    text-align: center ;
}

#equip {
    color: blue ;
    text-shadow: 1px 2px #000 ;
    font-size: 3vh ;
    padding-top: 2% ;
}

#hands-container {
    display: flex ;
}

#hands-left-container {
    flex-grow: 1 ;
    padding-left: 5% ;
/*    -webkit-transform:rotate(-90deg) ;*/
}

#hands-left {
    color: blue ;
    text-shadow: 1px 2px #000 ;
    font-size: 3vh ;
    text-align: center ;
}

#hands-left-equip-container {
    flex-grow: 1 ;
    text-shadow: 1px 2px #000 ;
    text-align: center ;
    margin-right: 5% ;
    border-width: 5px ;
    border-color: blue ;
    border-style: dashed ;
}

#hands-right-equip-container {
    flex-grow: 1 ;
    text-shadow: 1px 2px #000 ;
    text-align: center ;
    margin-left: 5% ;
    border-width: 5px ;
    border-color: blue ;
    border-style: dashed;
}

#hands-right-container {
    flex-grow: 1 ;
    padding-right: 5% ;
    text-align: center ;
/*    -webkit-transform:rotate(-90deg) ;*/
}

#hands-right {
    color: blue ;
    text-shadow: 1px 2px #000 ;
    font-size: 3vh ;
}

#possessions-bottom {
    background-color: #242 ;
}

#remove-equip-container {
    display: flex ;
}

#remove-container {
    flex-grow: 1 ;
    padding-left: 5% ;
    padding-right: 5% ;
}

#equip-item-container {
    flex-grow: 1 ;
    padding-right: 5% ;
    padding-left: 5% ;
}

#uib_remove-item {
    background-color: #b22 ;
    color: white ;
    text-shadow: 3px 1px black ;
}

#uib_equip-item {
    background-color: #22b ;
    color: white ;
    text-shadow: 3px 1px black ;
}

#hskillcheck-container {
    text-align: center ;
}

#hskillcheck {
    color: #00bb00 ;
    text-shadow: 3px 1px #006600 ;
    font-size: 3.5vh ;
}

#skill-score-container {
    padding-top: 15% ;
    text-align:center;
}

#skill-score {
    color: #fff ;
    text-shadow: 3px 1px #000 ;
    font-size: 3.5vh ;
}

#skill-modifier-container {
    padding-top: 15% ;
    text-align: center ;
}

#skill-modifier-label {
    color: #fff ;
    text-shadow: 3px 1px #000 ;
    font-size: 2.5vh ;
}

#skill-dropdowns-container {
    display: flex ;
}

#plus-minus-container {
    flex-grow: 1 ;
    text-align: right ;
    padding-right: 3% ;
    padding-left: 20% ;
}

#modifier-amount-container {
    flex-grow: 1 ;
    text-align: left ;
    padding-left: 3% ;
    padding-right: 20% ;
}

#result-info-container {
    height: 50% ;
}

#result-info {
    border: solid thick black ;
    background-color: #464 ;
    text-align: center ;
    width: 50% ;
    margin: 0 auto 0 auto ;
}

#result-label {
    text-align: center;
    color: #fff ;
    text-shadow: 3px 1px #000 ;
    font-size: 2.5vh ;
}

#back-button-container {
    width: 100% ;
    min-height: 20% ;
}

#uib_back {
    background-color: #004700 ;
    color: white ;
    display: block ;
    width: 20% ;
    margin: 0 auto 0 auto ;
}

.spacer {
    height: 10% ;
}